body {
  background-image: url("../public/img/bg.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
  background-color: black;
}